{% extends 'basetemp/publicbase.html' %}

{% block title %}
Index QuickTrade
{% endblock title %}

{% block content %}
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
          <h1>"Unleashing crypto wealth, trade and profit with QuickTrade"</h1>
          <p>Maximize your cryptocurrency earnings, Trade and profit with QuickTrade. Only We are give you high class profite.</p>
   

        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/images/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>




  </section><!-- /Hero Section -->



     <!-- Services Section -->
     <section  class="services section light-background">
  
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>How to QuickTrade</h2>
        <p>Getting started with us is easy, and you can begin earning money effortlessly.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-person icon"></i></div>
              <h4><a href="#" class="stretched-link">Register Account</a></h4>
              <p>By Registering the website you will able to start your operation</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-envelope icon"></i></div>
              <h4><a href="#" class="stretched-link">Verify Email</a></h4>
              <p>After creating the account user need to verify the email for account purpose</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-check-circle icon"></i></div>
              <h4><a href="#" class="stretched-link">Verify QuickTrade</a></h4>
              <p>Users' QuickTrade needs to verify to before making any withdrawals</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bank icon"></i></div>
              <h4><a href="#" class="stretched-link">Deposit Money</a></h4>
              <p>Users can deposit using any automatic or manual gateways</p>
            </div>
          </div><!-- End Service Item -->


          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-graph-up"></i></div>
              <h4><a href="#" class="stretched-link">AI Trading</a></h4>
              <p>The AI Trading executes trades, allowing users to profit and potentially earn even more.</p>
            </div>
          </div><!-- End Service Item -->


          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-wallet icon"></i></div>
              <h4><a href="#" class="stretched-link">Wallet Exchange</a></h4>
              <p>QuickTrade offers seamless wallet balance exchanges, ensuring swift and secure transactions for optimal user convenience.</p>
            </div>
          </div><!-- End Service Item -->


          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-link icon"></i></div>
              <h4><a href="#" class="stretched-link">Refer to Friends</a></h4>
              <p>For referring to any friends user can generate the bonus</p>
            </div>
          </div><!-- End Service Item -->


          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-trophy icon"></i></div>
              <h4><a href="#" class="stretched-link">Rank & Reward</a></h4>
              <p>QuickTrade rank and reward system motivates users to climb higher ranks through active trading participation.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->








  
      <!-- Clients Section -->
      <section id="clients" class="clients section light-background">
  
        <div class="container" data-aos="zoom-in">
  
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 2,
                    "spaceBetween": 40
                  },
                  "480": {
                    "slidesPerView": 3,
                    "spaceBetween": 60
                  },
                  "640": {
                    "slidesPerView": 4,
                    "spaceBetween": 80
                  },
                  "992": {
                    "slidesPerView": 5,
                    "spaceBetween": 120
                  },
                  "1200": {
                    "slidesPerView": 6,
                    "spaceBetween": 120
                  }
                }
              }
            </script>
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>
          </div>
  
        </div>
  
      </section><!-- /Clients Section -->

{% endblock content %}