{% extends 'basetemp/publicbase.html' %}





{% block title %}
Signup ZenTrade
{% endblock title %}







{% block content %}

<div class="mt-5 mb-3 text-white">
    .
</div>


<div style="background-color: #ecf0f1;" class="row ">
<div style="border-radius: 20px;" class="col-lg-5 col-md-8 col-12 me-auto ms-auto card mt-5 mb-5 p-4 shadow-lg ">

    <h2>Login Here</h2>
    
   

    {% if messages %}
    {{message.tags}}  
    <div class="alert alert-primary mt-4" role = 'alert'>
      {% for message in messages %}
      {{message}}
      {% endfor %}

    </div>
    {% endif %}


    <form method="post" action="{% url 'signin'%}">
        {% csrf_token %}
    
        <div class="row mb-2">
            <div class="col-12">
                <label for="inputText" class="col-sm-2 col-form-label">User Name</label>
                <input name="username" type="text" placeholder="email" class="form-control">
            </div>
        </div>
    
        <div class="row mb-2">
            <div class="col-12 position-relative">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control">
                <span id="togglePassword" class="position-absolute" style="right: 25px; top: 45px; cursor: pointer;">
                    <i class="bi bi-eye-slash"></i>
                </span>
            </div>
        </div>

        <span><a style="color: blue; display: block; text-align: right;" href="/auth/forget-account/">forget password?</a></span>
    
        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
    


        <a class="btn d-block text-center mt-2" href="/auth/signup/">Don't have an account? <b>Signup for free</b></a>
    </form>
    
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#inputPassword');
    
        togglePassword.addEventListener('click', function () {
            // Toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
    
            // Toggle the icon
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
    


   
</div>
</div>


{% endblock content %}